body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#user-table {
  width: fit-content;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 0px gainsboro;
}

.table-row {
  display: grid;
  grid-template-columns: 50px 90px 140px 130px 200px 90px 80px 80px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.table-row > div {
  padding-right: 10px;
}

.table-header {
  font-weight: bold;
}

.category > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

button:hover  {
  cursor: pointer;
}

option[value="Red"] {
  background: red;
  text-transform: capitalize;
}

option[value="Green"] {
  background: green;
  text-transform: capitalize;
} 

.Red > div {
  background: red;
}

.Green > div {
  background: green;
}

#table-filters {
  margin: 15px;
}

#table-filters > div {
  display: flex;
  margin-top: 15px;
}

.filter-name {
  width: 100px;
}

.botun {
  margin: 15px;
  margin-right: 0px;
  padding: 10px;
}

.table-search {
  display: flex;
  margin: 60px 15px 15px;
}