body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#user-table {
  width: fit-content;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 0px gainsboro;
}

.table-row {
  display: grid;
  grid-template-columns: 50px 90px 140px 130px 200px 90px 80px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.table-row > div {
  padding-right: 10px;
}

.table-header {
  font-weight: bold;
}

.category > div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

button:hover  {
  cursor: pointer;
}

option[value="red"] {
  background: red;
}

option[value="green"] {
  background: green;
} 

.red > div {
  background: red;
}

.green > div {
  background: green;
}